doctype html
html(lang="en")
    head
        include ../modules/_head
        link(rel="stylesheet", href="./css/min/cars.min.css")
    body
        include ../modules/_header
        main
            .container
                section.main--pages.pages
                aside.aside.main--aside
                    ul.filter.aside--filter
                        li.filter_item Регион
                            ul
                                li
                                li
                        li.filter_item Тип предложкния
                            ul
                                li
                                li
                        li.filter_item Цена
                            ul
                                li
                                li
                        li.filter_item Автор объявления
                            ul
                                li
                                li
                        li.filter_item По маркам
                            ul
                                li
                                li
                        li.filter_item Состояние
                            ul
                                li
                                li
                        li.filter_item Регистрация
                            ul
                                li
                                li
                        li.filter_item Год выпуска
                            ul
                                li
                                li
                        li.filter_item Тип топлива
                            ul
                                li
                                li
                        li.filter_item Тип кузова
                            ul
                                li
                                li
                        li.filter_item Тип КПП
                            ul
                                li
                                li
                        li.filter_item Привод
                            ul
                                li
                                li
                        li.filter_item Количество Мест
                            ul
                                li
                                li
                        li.filter_item Руль
                            ul
                                li
                                li
                        li.filter_item Объем двигателя
                            ul
                                li
                                li
                        li.filter_item Цвет
                            ul
                                li
                                li
                        li.filter_item Количество дверей
                            ul
                                li
                                li
                        li.filter_item Пробег
                            ul
                                li
                                li
                        li.filter_item Комфорт
                            ul
                                li
                                li
                        li.filter_item Безопасность
                            ul
                                li
                                li






