.container.slider
				ul
					li
						button.slider-left
					li
						a(href="#")
							img(src="./img/main/img_switcher/img_1.png", alt="")
					li
						a(href="#")
							img(src="./img/main/img_switcher/img_2.png", alt="")
					li
						a(href="#")
							img(src="./img/main/img_switcher/img_3.png", alt="")
					li
						a(href="#")
							img(src="./img/main/img_switcher/img_4.png", alt="")
					li
						button.slider-right